[submodule "nickanderson/yum"]
	path = nickanderson/yum
	url = https://github.com/nickanderson/cfengine-yum.git
[submodule "nickanderson/CVE_2015_0235"]
	path = nickanderson/CVE_2015_0235
	url = https://github.com/nickanderson/cfengine-CVE_2015_0235.git
[submodule "nickanderson/sysctl"]
	path = nickanderson/sysctl
	url = https://github.com/nickanderson/cfengine-sysctl
[submodule "nickanderson/linux_kernel"]
	path = nickanderson/linux_kernel
	url = https://github.com/nickanderson/cfengine-linux_kernel.git
